.one{
    background-color: green;
    color: white;
}

.two{
    background-color: red;
    color: white;
}

.three{
    background-color: black;
    color: white;
}

.four{
    background-color: yellow;
    color: white;
}

.five{
    background-color: orange;
    color: white;
}